---
service_name: dummy-service

resources:
  requests:
    cpu: 3
    memory: 256Mi
  limits:
    cpu: 5
    memory: 512Mi

replicaCount: 2
updateStrategy:
  maxUnavailable: 1
  deployStrategy: RollingUpdate
configs:
  src_path: "k8s/prod/configs/*"
  dest_path: "/opt/app/config/"

env_vars:
  - name: DB_ADDRESS
    value: db-postgresql.my-namespace.svc.cluster.local

traffic_control:
  ingress:
    enabled: true
    hosts:
      - name: awesome.domain
        routes:
          - name: http-api
            port: 8080
            endpoint: /

readiness_probe:
  httpGet:
    path: /readiness
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 15
liveness_probe:
  httpGet:
    path: /healthz
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 15
  failureThreshold: 3
autoscaling:
  enabled: true
  targetCPU: 50
  maxReplicas: 5
